<div class="divFooterTop" layout="column" layout-align="center center">
    <section layout="row" layout-align="center center">
        <label>Senseaplant</label>
    </section>
    <div layout="row" layout-align="center center">
        <section layout="column" layout-align="center center">
            <label><a style="color: white;" href="quienes_somos" target="">¿Quiénes somos?</a></label>
        </section>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <section layout="column" layout-align="center center">
            <label><a style="color: white;" href="legal_privacidad" target="">Aviso legal y privacidad</a></label>
        </section>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <section layout="column" layout-align="center center">
            <label><a style="color: white;" href="terminos_condiciones" target="">Términos y condiciones</a></label>
        </section>
    </div>
    <br/>
</div>
<div class="divFooterBottom" layout="row" layout-align="center center">
    <section layout="column" layout-align="center center">
        <label>© Copyright 2016 Consulting & Support SR S.A. de C.V.</label>
    </section>
</div>