<div class="wrapper">	
	<div class="content">


		<!-- Toolbar Desktop -->
		<dir-toolbar-desk></dir-toolbar-desk>


		<!-- Toolbar móvil y sidenav-->
		<dir-toolbar-movil></dir-toolbar-movil>


		<div hide-sm hide-xs class="spaceTool"></div><div class="spaceTool"></div><div hide-sm hide-xs class="spaceTool"></div>
		<div>
			<md-card class="md-whiteframe-9dp" centrado><br>
				<div titulo>
					Legal y privacidad
				</div>
				<div ng-cloak>
					<div justificar>
						<h3 subheader>Privacidad y protección de datos</h3>
						<p> 
							La presente Política de Privacidad y Protección de datos regula el tratamiento que damos a la información recibida en el acceso y el uso de los servicios del Sitio Web, que CONSULTING & SUPPORT SR S.A. DE C.V. (en adelante “SENSE A PLANT”) pone de forma gratuita a disposición de los usuarios de Internet interesados en sus servicios y contenidos (en adelante, los “Usuarios”). De acuerdo con la legislación vigente en materia de protección de datos de carácter personal, la Data Protection Act 1998, SENSE A PLANT como titular del Sitio Web debe cumplir ciertos requisitos que garantizan que cualquier información que el Usuario nos facilite es tratada con diligencia y confidencialidad. 
						</p>
					</div>

					<div justificar>
						<h3 subheader>Datos recogidos</h3>
						<p>
							Si el Usuario se registra en el Sitio Web se le solicitarán datos de carácter personal mediante la cumplimentación de un formulario. Los datos solicitados son los estrictamente necesarios para la consecución de la finalidad del Sitio Web, y serán guardados y procesados exclusivamente con dicho objeto y siempre dentro del marco normativo establecido.
							Los datos personales del particular incluyen nombre, dirección, dirección de correo electrónico. Los campos marcados con un asterisco (*) en el formulario de registro deben cumplimentarse de forma obligatoria ya que son imprescindibles para atender a su petición. 
							Adicionalmente recogemos las respuestas del Usuario y los resultados de evaluaciones y valoraciones de empleabilidad realizadas en distintos puntos del Site, además de información agregada (no identificable individualmente) que nos da un mejor conocimiento de los usuarios de nuestra web en su conjunto y nos ayuda a ofrecerles un mejor servicio. 
						 </p>
					</div>

					<div justificar>
						<h3 subheader>Finalidad</h3>
						<p>
							SENSE A PLANT recoge datos personales de los Usuarios con la finalidad de facilitar y ofrecer herramientas y servicios que apoyan los procesos de búsqueda, incluyendo el envío a través del e-mail de ofertas y promociones de servicios de formación u otros productos relacionados que, atendiendo al perfil del Usuario, SENSE A PLANT considere pueden ser de su interés. 
							También se recogen datos agregados de los Usuarios con el fin de realizar análisis estadísticos que permiten analizar y mejorar el funcionamiento de los servicios y del Site.
						 </p>
					</div>

					<div justificar>
						<h3 subheader>Consentimiento del Usuario</h3>
						<p>
							El uso de la Web y el registro o envío a SENSE A PLANT de datos personales supone el consentimiento expreso del Usuario al tratamiento automatizado de los datos personales facilitados, así como al envío de comunicaciones vía electrónica con información relacionada con SENSE A PLANT y sus iniciativas. Durante el proceso de registro, el Usuario determina su configuración del nivel de privacidad. El Usuario consiente que sus datos sean cedidos terceros en cumplimiento de las funcionalidades del portal, a menos que haya optado por otra configuración de privacidad. A estos efectos se entiende por Tercero “aquellos Usuarios o entidades que deseen contactar con el Usuario” en relación a los procesos de reclutamiento.
							El Usuario que se registra (tanto particular como profesional) manifiesta su conocimiento y por tanto, consiente expresamente, que sus datos y el contenido que nos facilite serán públicos y visibles en el Sitio Web y en los buscadores de Internet, y que podrán ser facilitados a otras empresas en el marco de la prestación del servicio, como por ejemplo las empresas proveedoras de pasarelas de pago.
							El Usuario consiente expresamente la cesión de sus datos a empresas asociadas o pertenecientes al grupo CONSULTING & SUPPORT SR S.A. DE C.V. o sus accionistas para el envío de promociones y ofertas propios o de terceros relacionadas con los intereses y perfil del usuario. Los efectos de la presente autorización se extenderán a las partes implicadas en una venta, fusión, transferencia de activos o reorganización empresarial.
						 </p>
					</div>

					<div justificar>
						<h3 subheader>Seguridad</h3>
						<p>
							La seguridad de sus datos es muy importante para SENSE A PLANT.
							SENSE A PLANT ha adoptado las medidas de índole técnica y organizativas reglamentariamente establecidas para garantizar la seguridad de los datos de carácter personal y evitar su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que estén expuestos.
							Cuando los clientes efectúan pagos on-line en el sitio web, la información está encriptada usando el protocolo SSL (Secure socket layer). Este protocolo hace muy difícil que la información sea interceptada durante la transmisión. 
						 </p>
					</div>

					<div justificar>
						<h3 subheader>Derecho de Acceso, Rectificación, Oposición y Cancelación de Datos</h3>
						<p>
							El Usuario tiene derecho en cualquier momento a acceder a su información, a rectificarla si los datos son erróneos, a cambiar su configuración de privacidad, a oponerse al tratamiento de sus datos y a darse de baja de los servicios de SENSE A PLANT.
							Estos derechos pueden hacerse efectivos mediante la propia configuración de la página web. En caso de problemas para la realización efectiva online así como para cualquier tipo de duda o controversia respecto a nuestra política de privacidad pueden contactarnos por escrito a:
							Consulting & Support SR S.A. de C.V.., ____puebla, Puebla, Mexico.

						 </p>
					</div>

					<div justificar>
						<h3 subheader>Modificación de la Política de Privacidad y Protección de Datos</h3>
						<p>
							SENSE A PLANT se reserva el derecho a modificar la presente política para adaptarla a futuras novedades legislativas o jurisprudenciales.
							Cualquier cambio que no se derive de la adaptación a los cambios legislativos o jurisprudenciales será publicitada en la propia Página Web o, sirven es significativo, comunicado por e-mail a los Usuarios.
						 </p>
					</div>
				</div>
			</md-card><br>
			<md-card class="md-whiteframe-9dp" centrado><br>
				<div titulo>
					Qué son las cookies y por qué las utilizamos en la web de Sense a Plant
				</div>
				<div ng-cloak>
					<div justificar>
						<h3 subheader></h3>
						<p>
							Una cookie es un fichero que se descarga en el dispositivo del usuario al acceder a determinadas páginas web para almacenar y recuperar información sobre la navegación que se efectúa desde dicho equipo.
							Las cookies permiten a dicha web, entre otras cosas, almacenar y recuperar información sobre las decisiones y hábitos del usuario. En Sense a Plant las utilizamos para personalizar la experiencia dentro de nuestras webs, identificar y recordar al usuario registrado y facilitar la navegación.
							Es importante destacar que el uso de cookies no proporciona datos personales del usuario, que de cara a Sense a Plant permanece anónimo.
							El usuario puede configurar su navegador para no aceptar el uso de cookies, en cuyo caso la personalización de la experiencia no se aplicaría aunque sí podrá seguir accediendo a los contenidos de nuestras webs con normalidad.
							En la página de Wikipedia (<a href="http://es.wikipedia.org/wiki/Cookie_(informática)">http://es.wikipedia.org/wiki/Cookie_(informática)</a>) es posible obtener más información acerca de qué son las cookies y cómo funcionan.
						 </p>
					</div>
					<div justificar>
						<h3 subheader>Qué tipo de cookies utilizan las webs de Sense a Plant</h3>
						<p>
							Las Cookies, en función de su permanencia, pueden dividirse en Cookies de sesión o permanentes. Las primeras expiran cuando el usuario cierra el navegador. Las segundas expiran en función cuando se cumpla el objetivo para el que sirven <i>(por ejemplo, para que el usuario se mantenga identificado en las webs y servicios de (Sense a Plant) o bien cuando se borran manualmente)</i>.
							Adicionalmente, en función de su objetivo, las Cookies pueden clasificarse de la siguiente forma:
							Cookies de rendimiento: este tipo de Cookie recuerda sus preferencias para las herramientas que se encuentran en los servicios, por lo que no tiene que volver a configurar el servicio cada vez que usted visita. A modo de ejemplo, en esta tipología se incluyen:<ul>
							<li>Ajustes de volumen de reproductores de vídeo o sonido.</li>
							<li>Las velocidades de transmisión de vídeo que sean compatibles con su navegador.</li></ul>
							Cookies de geolocalización: estas Cookies son utilizadas para averiguar en qué país se encuentra cuando se solicita una web o servicio. Esta Cookie es totalmente anónima, y sólo se utiliza para ayudar a orientar el contenido a su ubicación.
							Cookies de registro: las Cookies de registro se generan una vez que el Usuario se ha registrado o posteriormente ha abierto su sesión, y se utilizan para identificarle en las web y servicios con los siguientes objetivos:<ul>
							<li>Mantener al usuario identificado de forma que, si cierra un servicio o web, el navegador o el ordenador y en otro momento u otro día vuelve a entrar en dicho servicio o web, seguirá identificado, facilitando así su navegación sin tener que volver a identificarse. Esta funcionalidad se puede suprimir si el usuario pulsa la funcionalidad “Salir”, de forma que esta Cookie se elimina y la próxima vez que entre en la web el usuario tendrá que iniciar sesión para estar identificado.</li>
							<li>Comprobar si el usuario está autorizado para acceder a ciertos servicios, por ejemplo, para participar en un concurso.</li>
							<li>Adicionalmente, algunos servicios pueden utilizar conectores de terceros tales como Facebook, Twitter o Google. Cuando el usuario se registra en un servicio con credenciales de una red social o sistema de identificación de terceros, autoriza al mismo a guardar una cookie persistente que recuerda su identidad y le garantiza acceso a la web hasta que expira. El usuario puede borrar esta cookie y revocar el acceso a la web mediante redes sociales o sistema de identificación de terceros actualizando sus preferencias en la red social que específica.
							</li></li>
							Cookies de analítica: cada vez que un Usuario visita una Web o Servicio, una herramienta de un proveedor externo (Google Analytics, comScore y similares) genera una cookie analítica en el dispositivo del usuario. Esta cookie que sólo se genera en la visita, servirá en próximas visitas a los servicios de Sense a Plant para identificar de forma anónima al visitante. Los objetivos principales que se persiguen son:<ul>
							<li>Permitir la identificación anónima de los usuarios navegantes a través de la “Cookie” (identifica navegadores y dispositivos, no personas) y por lo tanto la contabilización aproximada del número de visitantes y su tendencia en el tiempo.</li>
							<li>Identificar de forma anónima los contenidos más visitados y por lo tanto más atractivos para los usuarios</li>
							<li>Saber si el usuario que está accediendo es nuevo o repite visita.</li></ul>
							<strong>Importante:</strong> Salvo que el Usuario decida registrarse en alguna web de Sense a Plant, la cookie nunca irá asociada a ningún dato de carácter personal que pueda identificarle. Dichas cookies sólo serán utilizadas con propósitos estadísticos que ayuden a la optimización de la experiencia de los usuarios en el sitio.
							Más información sobre la política de privacidad de estas herramientas de analítica en: Google Analytics y Comscore.
							Cookies de publicidad: este tipo de cookies permiten ampliar la información de los anuncios mostrados a cada usuario anónimo en las webs de Sense a Plant. Entre otros, se almacena la duración o frecuencia de visualización de posiciones publicitarias, la interacción con las mismas, o los patrones de navegación y/o comportamientos del usuario ya que ayudan a conformar un perfil de interés publicitario. De este modo, permiten ofrecer publicidad afín a los intereses del usuario.
							Para la gestión de la publicidad de Sense a Plant se utilizan herramientas de servicio de publicidad <a href="http://es.wikipedia.org/wiki/Adserver">(Adservers – http://es.wikipedia.org/wiki/Adserver”)</a> de terceros. Estos terceros pueden almacenar cookies enviadas desde las webs de Sense a Plant procedentes de los navegadores de los usuarios, así como acceder a los datos que en ellas se guardan.
							Las empresas que generan estas Cookies tienen sus propias políticas de privacidad.
							En la actualidad, Sense a Plant utiliza la plataforma Doubleclick de Google para gestionar estos servicios. Para más información, acuda a <a href="http://www.google.es/policies/privacy/ads/#toc-doubleclick">http://www.google.es/policies/privacy/ads/#toc-doubleclick</a> y a <a href="http://www.google.es/policies/privacy/ads/">http://www.google.es/policies/privacy/ads/</a>.
						 </p>
					</div>
				</div>
			</md-card>
		</div>
		
	</div>

	<div class="footer">

		<dir-footer></dir-footer>

	</div>

</div>