<div class="wrapper">	
	<div class="content">
		
		<!-- Toolbar Desktop -->
		<dir-toolbar-desk></dir-toolbar-desk>


		<!-- Toolbar móvil y sidenav-->
		<dir-toolbar-movil></dir-toolbar-movil>

		<div hide-sm hide-xs class="spaceTool"></div><div class="spaceTool"></div><div hide-sm hide-xs class="spaceTool"></div>
		<md-card class="md-whiteframe-9dp" centrado>
			<div>
				<h3 titulo >¿Quiénes somos?</h3>
				<p justificar>
					Sense a Plant  con estilo propio, es una empresa consolidada en la ciudad de Puebla , que concentró sus esfuerzos en atender las necesidades  de nuestros clientes  en materia de la venta de Plantas  místicas ,que asumió la concepción de combinar estilos, el buen gusto, ambientes armónicos e innovadores con cada una de las actividades que conforman el entorno  personal y familiar , como un aspecto muy positivo en el éxito de cada una de ellas, que al proveerlas de  equilibrio, elegancia y distinción, permite ofrecer una propuesta diferente 
					Sense a Plant  perfecciona  cotidianamente  su labor y servicios para estar a la vanguardia ante las necesidades de nuestros clientes, buscando siempre estar a tono de las cambiantes necesidades de la misma, en especial de aquellos que le apuestan a dar valor agregado, así como de imponer líneas de buen gusto y estilo con aportes exclusivos que solo brinda el arte de las plantas  , Sin duda, somos una empresa dedicada a la venta de plantas Místicas, para el hogar o los lugares  que pretenden embellecer , proteger sus interiores o exteriores, siendo una gran respuesta a las tendencias actuales.
				</p>
			</div>

			<div>
				<h3 titulo >Misión</h3>
				<p justificar>
					Somos una  empresa dedicada a la comercialización de Flores Naturales místicas, pensando siempre en brindar la mejor calidad para cumplir las expectativas y necesidades de nuestros clientes, que desean  embellecer cualquier espacio o lugar de su entorno. Para quienes buscan expresar sus sentimientos a través de nuestros productos.
				</p>
			</div>

			<div>
				<h3 titulo >Visión</h3>
				<p justificar>
					La visión de Sense a Plant  es ser el líder  de la más alta calidad, prestigio y reconocimiento de nuestros productos y servicios, buscando día a día   satisfacer las expectativas y necesidades de nuestros clientes. En este sentido conservamos una buena imagen mística, experiencia y estilo propio,  acompañado del compromiso de los altos estándares de responsabilidad social y de calidad. En el futuro seremos la empresa más competitiva del sector, mediante el entrenamiento y motivación de nuestro talento humano.
				</p>
			</div>
		</md-card>
		
	</div>
	
	<div class="footer">

		<dir-footer></dir-footer>

	</div>

</div>